<h1>Helllllo from Railsworld!</h1>
<p>It is now <%= @current_time.stamp('Fri, Feb 14, 2016') %>.</p>



<%= "I am a string" %>
<% if true %>
	<h3>Hi it's true</h3>
<% end %>

<!-- I'm a comment -->

<p>
	<a href="#">Normal HTML link</a>
</p>

<p>

<%= link_to "Say goodbye!", say_goodbye_path %>

</p>